<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="False">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					已选择IP
				</h4>
			</div>
			<div class="modal-body">
                        
				<table class='table table-striped table-bordered table-hover table-condensed'>
				<thead>
				<tr>
					<th>IP_MDCN</th>
					<th>IP_MANAGE</th>
					<th>IP_INTERNAL</th>
				</tr>
				</thead>
 				<tbody>
				{% for item in query_result %}
				    <tr>
				    {% for value in item.values %}
				        <td>{{value}}</td>
				    {% endfor %}
                                    </tr>
				{% endfor %}
				</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" id='button1' onclick="javascript:go()" class="btn btn-primary">
					下一步
				</button>
				<script >
				function go(){
				$('#myModal').modal('hide');
				$('#myModal2').modal('show');
				}
				</script>
			</div>
		</div>
	</div>
</div>
